LAB1-OLAP-ExecuteSQL.json
{"flowContents":{"identifier":"0e082f50-85c6-3796-9f18-0784ef61cf4e","instanceIdentifier":"3255fcce-0195-1000-ba69-e81fd945c4d2","name":"LAB1 - OLAP - OLD","comments":"","position":{"x":-184.0,"y":-440.0},"processGroups":[{"identifier":"30a0167d-0195-1000-b643-e4b00348114c","instanceIdentifier":"c699ec14-eb74-355c-f7e1-6d61fa30dd39","name":"FCT_LINEORDER","comments":"","position":{"x":-32.0,"y":-400.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"898c2a18-06a1-33cd-b124-2172c7d1e163","instanceIdentifier":"32017402-0195-1000-b540-c386aa99806c","name":"GenerateFlowFile","comments":"","position":{"x":-1536.0,"y":-856.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"32421ef5-0195-1000-f0f6-3030fdff60fb","instanceIdentifier":"f2d2ad06-acfa-3131-b069-ac7560fcd7a4","name":"UpdateAttribute","comments":"","position":{"x":-888.0,"y":-648.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"FCT_LINEORDER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"30a01681-0195-1000-c2af-8b8747bfd643","instanceIdentifier":"02ae9d23-b624-3e3c-e07c-bee7769eead2","name":"ExecuteSQL","comments":"","position":{"x":-888.0,"y":-1064.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":"DROP TABLE date;","esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n    l.l_linenumber,\n    l.l_partkey,\n    l.l_suppkey,\n    l.l_quantity,\n    l.l_extendedprice,\n    l.l_discount,\n    l.l_tax,\n    l.l_returnflag,\n    l.l_linestatus,\n    ld.date_id AS l_shipdate_id,\n    lc.date_id AS l_commitdate_id,\n    lr.date_id AS l_receiptdate_id,   \n    l.l_shipinstruct,\n    l.l_shipmode,\n    o.o_custkey,\n    o.o_orderstatus,\n    o.o_totalprice,\n    lo.date_id AS o_orderdate_id,\n    o.o_orderpriority,\n    o.o_clerk,\n    o.o_shippriority,\n    ps.ps_availqty,\n    ps.ps_supplycost\nFROM\n    lineitem l\n    JOIN orders o ON l.l_orderkey = o.o_orderkey\n\tJOIN partsupp ps ON l.l_partkey = ps.ps_partkey AND l.l_suppkey = ps.ps_suppkey\n    JOIN date ld ON l.l_shipdate = ld.d_date\n    JOIN date lc ON l.l_commitdate = lc.d_date\n    JOIN date lr ON l.l_receiptdate = lr.d_date\n    JOIN date lo ON o.o_orderdate = lo.d_date;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"30a0167f-0195-1000-1d80-9749ca8bb4c4","instanceIdentifier":"c847c47c-02a8-39be-a067-ab131c58c4e4","name":"ConvertRecord","comments":"","position":{"x":-888.0,"y":-856.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"30a01680-0195-1000-612f-572e6ca58c85","instanceIdentifier":"fa7b51af-4712-3a30-82bb-831c8e1c68cb","name":"PutFile","comments":"","position":{"x":-888.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"31d57f46-0195-1000-795d-1fefea694ea8","instanceIdentifier":"8daaca32-989f-3543-5089-af5f9b24c71f","name":"Wait","comments":"","position":{"x":-1536.0,"y":-1064.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":"73c91c10-8b1e-3c53-8fee-76df0eb4eef9","releasable-flowfile-count":"1","release-signal-id":"DateTableCreated","signal-counter-name":"true","expiration-duration":"31 day","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["wait","expired","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fa156bb2-2e65-3e57-908d-74d2cb583c41","instanceIdentifier":"32425248-0195-1000-36d1-daf08bad2cde","name":"","source":{"id":"30a0167f-0195-1000-1d80-9749ca8bb4c4","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"ConvertRecord","comments":"","instanceIdentifier":"c847c47c-02a8-39be-a067-ab131c58c4e4"},"destination":{"id":"32421ef5-0195-1000-f0f6-3030fdff60fb","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"UpdateAttribute","comments":"","instanceIdentifier":"f2d2ad06-acfa-3131-b069-ac7560fcd7a4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"30a01682-0195-1000-9de2-99f65ee3e4ea","instanceIdentifier":"25a921ed-eaf1-35d9-7ac2-bdf374e936c7","name":"","source":{"id":"30a01681-0195-1000-c2af-8b8747bfd643","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"ExecuteSQL","comments":"","instanceIdentifier":"02ae9d23-b624-3e3c-e07c-bee7769eead2"},"destination":{"id":"30a0167f-0195-1000-1d80-9749ca8bb4c4","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"ConvertRecord","comments":"","instanceIdentifier":"c847c47c-02a8-39be-a067-ab131c58c4e4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1.5 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"4524eaa7-06ce-34cb-a7bf-f52f0c34e1bb","instanceIdentifier":"32021850-0195-1000-97b4-9b724ff2cf3a","name":"","source":{"id":"898c2a18-06a1-33cd-b124-2172c7d1e163","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"32017402-0195-1000-b540-c386aa99806c"},"destination":{"id":"31d57f46-0195-1000-795d-1fefea694ea8","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"Wait","comments":"","instanceIdentifier":"8daaca32-989f-3543-5089-af5f9b24c71f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"caf6cb5b-385b-33b9-811d-3ce22f06dc4b","instanceIdentifier":"32425f2f-0195-1000-9ec4-cbfff346fd8d","name":"","source":{"id":"32421ef5-0195-1000-f0f6-3030fdff60fb","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"UpdateAttribute","comments":"","instanceIdentifier":"f2d2ad06-acfa-3131-b069-ac7560fcd7a4"},"destination":{"id":"30a01680-0195-1000-612f-572e6ca58c85","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"PutFile","comments":"","instanceIdentifier":"fa7b51af-4712-3a30-82bb-831c8e1c68cb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"},{"identifier":"a2b49a97-72ed-392f-b2da-3240bb92039d","instanceIdentifier":"31d5d61e-0195-1000-9b31-661e87debddf","name":"","source":{"id":"31d57f46-0195-1000-795d-1fefea694ea8","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"Wait","comments":"","instanceIdentifier":"8daaca32-989f-3543-5089-af5f9b24c71f"},"destination":{"id":"30a01681-0195-1000-c2af-8b8747bfd643","type":"PROCESSOR","groupId":"30a0167d-0195-1000-b643-e4b00348114c","name":"ExecuteSQL","comments":"","instanceIdentifier":"02ae9d23-b624-3e3c-e07c-bee7769eead2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30a0167d-0195-1000-b643-e4b00348114c"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"0e082f50-85c6-3796-9f18-0784ef61cf4e"},{"identifier":"3072f5ee-0195-1000-e77c-5e565c75b92e","instanceIdentifier":"c3f0c499-2b8e-353c-aeb0-e6928c19951f","name":"DIM_CUSTOMER","comments":"","position":{"x":-680.0,"y":-568.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"323bed19-0195-1000-ed89-4ccd9a8f2261","instanceIdentifier":"808ec6ea-3811-3e0f-3fda-c3b0494e0a0f","name":"UpdateAttribute","comments":"","position":{"x":-888.0,"y":-656.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_CUSTOMER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3072f5ee-0195-1000-e77c-5e565c75b92e"},{"identifier":"3072f5f0-0195-1000-63fc-8916cf720d88","instanceIdentifier":"10f22ec9-9b3b-38fb-fd52-0f5c96ab1795","name":"ConvertRecord","comments":"","position":{"x":-888.0,"y":-864.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3072f5ee-0195-1000-e77c-5e565c75b92e"},{"identifier":"3072f5f1-0195-1000-bf42-413ca8e40c1e","instanceIdentifier":"cbb524ad-1479-388e-e172-0f4fdf546dcb","name":"PutFile","comments":"","position":{"x":-888.0,"y":-448.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3072f5ee-0195-1000-e77c-5e565c75b92e"},{"identifier":"3072f5f2-0195-1000-9ae8-dd0685fff7b5","instanceIdentifier":"6179453f-bc16-3c77-b93f-960154af6b57","name":"ExecuteSQL","comments":"","position":{"x":-888.0,"y":-1072.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT \n    c.c_custkey, \n    c.c_name, \n    c.c_address, \n    c.c_phone, \n    c.c_acctbal,\n    n.n_nationkey,\n    n.n_name,\n    r.r_regionkey,\n    r.r_name\nFROM customer c\nJOIN nation n ON c.c_nationkey = n.n_nationkey\nJOIN region r ON n.n_regionkey = r.r_regionkey;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3072f5ee-0195-1000-e77c-5e565c75b92e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4e223a65-a6f8-392e-ad9d-3a3196e269f6","instanceIdentifier":"323c209a-0195-1000-c177-422ab50725a5","name":"","source":{"id":"323bed19-0195-1000-ed89-4ccd9a8f2261","type":"PROCESSOR","groupId":"3072f5ee-0195-1000-e77c-5e565c75b92e","name":"UpdateAttribute","comments":"","instanceIdentifier":"808ec6ea-3811-3e0f-3fda-c3b0494e0a0f"},"destination":{"id":"3072f5f1-0195-1000-bf42-413ca8e40c1e","type":"PROCESSOR","groupId":"3072f5ee-0195-1000-e77c-5e565c75b92e","name":"PutFile","comments":"","instanceIdentifier":"cbb524ad-1479-388e-e172-0f4fdf546dcb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3072f5ee-0195-1000-e77c-5e565c75b92e"},{"identifier":"3072f5f3-0195-1000-2899-fffe2cde11cc","instanceIdentifier":"f6b8f273-f365-3112-c748-4396568ab233","name":"","source":{"id":"3072f5f2-0195-1000-9ae8-dd0685fff7b5","type":"PROCESSOR","groupId":"3072f5ee-0195-1000-e77c-5e565c75b92e","name":"ExecuteSQL","comments":"","instanceIdentifier":"6179453f-bc16-3c77-b93f-960154af6b57"},"destination":{"id":"3072f5f0-0195-1000-63fc-8916cf720d88","type":"PROCESSOR","groupId":"3072f5ee-0195-1000-e77c-5e565c75b92e","name":"ConvertRecord","comments":"","instanceIdentifier":"10f22ec9-9b3b-38fb-fd52-0f5c96ab1795"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3072f5ee-0195-1000-e77c-5e565c75b92e"},{"identifier":"d0b97a9c-5918-305b-bed3-a4561a312102","instanceIdentifier":"323c1423-0195-1000-e240-66fc2782bf1c","name":"","source":{"id":"3072f5f0-0195-1000-63fc-8916cf720d88","type":"PROCESSOR","groupId":"3072f5ee-0195-1000-e77c-5e565c75b92e","name":"ConvertRecord","comments":"","instanceIdentifier":"10f22ec9-9b3b-38fb-fd52-0f5c96ab1795"},"destination":{"id":"323bed19-0195-1000-ed89-4ccd9a8f2261","type":"PROCESSOR","groupId":"3072f5ee-0195-1000-e77c-5e565c75b92e","name":"UpdateAttribute","comments":"","instanceIdentifier":"808ec6ea-3811-3e0f-3fda-c3b0494e0a0f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3072f5ee-0195-1000-e77c-5e565c75b92e"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"0e082f50-85c6-3796-9f18-0784ef61cf4e"},{"identifier":"300fd836-0195-1000-66fd-543d6eae03a8","instanceIdentifier":"0cf7a85f-ef31-3529-2945-06282606e24a","name":"DIM_SUPPLIER","comments":"","position":{"x":608.0,"y":-568.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0178fcd8-c304-35a7-9c9f-72c677c519aa","instanceIdentifier":"30470675-0195-1000-ce94-625d07748810","name":"ConvertRecord","comments":"","position":{"x":-888.0,"y":-880.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"},{"identifier":"323aa16c-0195-1000-c4ad-3ca002f9aec8","instanceIdentifier":"fbd1711f-d30f-38e5-8f76-e3abc48840af","name":"UpdateAttribute","comments":"","position":{"x":-888.0,"y":-672.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_SUPPLIER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"},{"identifier":"db44d43e-9f22-39dc-b60b-90737a8d27c2","instanceIdentifier":"3048561e-0195-1000-2cab-c1231cb9985c","name":"PutFile","comments":"","position":{"x":-888.0,"y":-464.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"},{"identifier":"4105db61-8218-3c0a-9a9e-5b83f764ba8f","instanceIdentifier":"3045c5e2-0195-1000-6e7e-49bb3a2e950c","name":"ExecuteSQL","comments":"","position":{"x":-888.0,"y":-1088.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT \n    s.s_suppkey, \n    s.s_name, \n    s.s_address, \n    s.s_phone, \n    s.s_acctbal,\n    n.n_nationkey,\n    n.n_name,\n    r.r_regionkey,\n    r.r_name\nFROM supplier s\nJOIN nation n ON s.s_nationkey = n.n_nationkey\nJOIN region r ON n.n_regionkey = r.r_regionkey;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"040f22d7-bac9-3ef2-9068-3de9ced80298","instanceIdentifier":"30472a93-0195-1000-b9bf-21975f6411b2","name":"","source":{"id":"4105db61-8218-3c0a-9a9e-5b83f764ba8f","type":"PROCESSOR","groupId":"300fd836-0195-1000-66fd-543d6eae03a8","name":"ExecuteSQL","comments":"","instanceIdentifier":"3045c5e2-0195-1000-6e7e-49bb3a2e950c"},"destination":{"id":"0178fcd8-c304-35a7-9c9f-72c677c519aa","type":"PROCESSOR","groupId":"300fd836-0195-1000-66fd-543d6eae03a8","name":"ConvertRecord","comments":"","instanceIdentifier":"30470675-0195-1000-ce94-625d07748810"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"},{"identifier":"6b1edf9f-c75f-3a2d-8329-3bfa9895d3e8","instanceIdentifier":"323ac5c6-0195-1000-2604-a3017f626038","name":"","source":{"id":"0178fcd8-c304-35a7-9c9f-72c677c519aa","type":"PROCESSOR","groupId":"300fd836-0195-1000-66fd-543d6eae03a8","name":"ConvertRecord","comments":"","instanceIdentifier":"30470675-0195-1000-ce94-625d07748810"},"destination":{"id":"323aa16c-0195-1000-c4ad-3ca002f9aec8","type":"PROCESSOR","groupId":"300fd836-0195-1000-66fd-543d6eae03a8","name":"UpdateAttribute","comments":"","instanceIdentifier":"fbd1711f-d30f-38e5-8f76-e3abc48840af"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"},{"identifier":"7ba6f9d7-180c-30f4-a107-6f0ad614ba0f","instanceIdentifier":"323adae4-0195-1000-98a6-3ae177fd0866","name":"","source":{"id":"323aa16c-0195-1000-c4ad-3ca002f9aec8","type":"PROCESSOR","groupId":"300fd836-0195-1000-66fd-543d6eae03a8","name":"UpdateAttribute","comments":"","instanceIdentifier":"fbd1711f-d30f-38e5-8f76-e3abc48840af"},"destination":{"id":"db44d43e-9f22-39dc-b60b-90737a8d27c2","type":"PROCESSOR","groupId":"300fd836-0195-1000-66fd-543d6eae03a8","name":"PutFile","comments":"","instanceIdentifier":"3048561e-0195-1000-2cab-c1231cb9985c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"ac7adf07-0fc1-3b25-b78a-a221fe1801a0","instanceIdentifier":"4633ef0c-0195-1000-f1fe-2b6ffa580300","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"schema-text-property","schema-version":null,"encoder-pool-size":"32","schema-text":"{\"type\":\"record\",\"name\":\"nation\",\"namespace\":\"any.data\",\"fields\":[{\"name\":\"n_nationkey\",\"type\":[\"null\",\"int\"]},{\"name\":\"n_name\",\"type\":[\"null\",\"string\"]},{\"name\":\"ffffffffff\",\"type\":[\"null\",\"int\"]},{\"name\":\"n_comment\",\"type\":[\"null\",\"string\"]},{\"name\":\"n_dummy\",\"type\":[\"null\",\"string\"]}]}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"},{"identifier":"e81027e9-d859-3a72-9a21-28d2735a693d","instanceIdentifier":"47d30657-0195-1000-dbd2-12484d2401d2","name":"DatabaseRecordLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"dbrecord-lookup-dbcp-service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","dbf-default-precision":"10","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":null,"dbrecord-lookup-key-column":"r_regionkey","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"region"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"300fd836-0195-1000-66fd-543d6eae03a8"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"0e082f50-85c6-3796-9f18-0784ef61cf4e"},{"identifier":"307a8b6b-0195-1000-2ac1-50e576bbd19e","instanceIdentifier":"25778465-387c-3988-d122-43c6b110e3e2","name":"DIM_PART","comments":"","position":{"x":360.0,"y":-72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"307a8b6c-0195-1000-4cec-72b0746da740","instanceIdentifier":"eb2b824b-749e-3d54-de6d-735f9d375f8d","name":"ConvertRecord","comments":"","position":{"x":-888.0,"y":-848.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"307a8b6b-0195-1000-2ac1-50e576bbd19e"},{"identifier":"307a8b6d-0195-1000-00fa-ea4894a0c56f","instanceIdentifier":"368d350f-3388-3013-12fe-ed10a2832c22","name":"PutFile","comments":"","position":{"x":-888.0,"y":-432.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"307a8b6b-0195-1000-2ac1-50e576bbd19e"},{"identifier":"307a8b6e-0195-1000-0da4-1a460a9a63e4","instanceIdentifier":"ccc2f457-78f4-37ac-8b08-c74830213f26","name":"ExecuteSQL","comments":"","position":{"x":-888.0,"y":-1056.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n    p.p_partkey,\n    p.p_name,\n    p.p_mfgr,\n    p.p_brand,\n    p.p_type,\n    p.p_size,\n    p.p_container,\n    p.p_retailprice\nFROM\n    part p;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"307a8b6b-0195-1000-2ac1-50e576bbd19e"},{"identifier":"b1054b2c-8fdb-3617-a0ef-0af1b3733608","instanceIdentifier":"3231434f-0195-1000-96b4-06c6b2bea9be","name":"UpdateAttribute","comments":"","position":{"x":-888.0,"y":-640.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_PART","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"307a8b6b-0195-1000-2ac1-50e576bbd19e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"474a0b90-b745-3377-9c1f-67c0d6910331","instanceIdentifier":"323837a2-0195-1000-5958-13d0c74b473d","name":"","source":{"id":"307a8b6c-0195-1000-4cec-72b0746da740","type":"PROCESSOR","groupId":"307a8b6b-0195-1000-2ac1-50e576bbd19e","name":"ConvertRecord","comments":"","instanceIdentifier":"eb2b824b-749e-3d54-de6d-735f9d375f8d"},"destination":{"id":"b1054b2c-8fdb-3617-a0ef-0af1b3733608","type":"PROCESSOR","groupId":"307a8b6b-0195-1000-2ac1-50e576bbd19e","name":"UpdateAttribute","comments":"","instanceIdentifier":"3231434f-0195-1000-96b4-06c6b2bea9be"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"307a8b6b-0195-1000-2ac1-50e576bbd19e"},{"identifier":"307a8b6f-0195-1000-cb48-fea5e7b639c6","instanceIdentifier":"357ec972-1b9e-33e0-ec76-76cdd9bf9b65","name":"","source":{"id":"307a8b6e-0195-1000-0da4-1a460a9a63e4","type":"PROCESSOR","groupId":"307a8b6b-0195-1000-2ac1-50e576bbd19e","name":"ExecuteSQL","comments":"","instanceIdentifier":"ccc2f457-78f4-37ac-8b08-c74830213f26"},"destination":{"id":"307a8b6c-0195-1000-4cec-72b0746da740","type":"PROCESSOR","groupId":"307a8b6b-0195-1000-2ac1-50e576bbd19e","name":"ConvertRecord","comments":"","instanceIdentifier":"eb2b824b-749e-3d54-de6d-735f9d375f8d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"307a8b6b-0195-1000-2ac1-50e576bbd19e"},{"identifier":"a102d2d5-4568-3f32-bd72-2e343dbd5b62","instanceIdentifier":"32384332-0195-1000-fc83-8259325aef4c","name":"","source":{"id":"b1054b2c-8fdb-3617-a0ef-0af1b3733608","type":"PROCESSOR","groupId":"307a8b6b-0195-1000-2ac1-50e576bbd19e","name":"UpdateAttribute","comments":"","instanceIdentifier":"3231434f-0195-1000-96b4-06c6b2bea9be"},"destination":{"id":"307a8b6d-0195-1000-00fa-ea4894a0c56f","type":"PROCESSOR","groupId":"307a8b6b-0195-1000-2ac1-50e576bbd19e","name":"PutFile","comments":"","instanceIdentifier":"368d350f-3388-3013-12fe-ed10a2832c22"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"307a8b6b-0195-1000-2ac1-50e576bbd19e"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"0e082f50-85c6-3796-9f18-0784ef61cf4e"},{"identifier":"3124b245-0195-1000-35a9-58bbf26a442a","instanceIdentifier":"5f603e48-ee4e-3cc6-de69-0ac7336c98e0","name":"DIM_DATE","comments":"","position":{"x":-424.0,"y":-72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3124b249-0195-1000-b737-3193f72c5e1f","instanceIdentifier":"fe498799-0c0f-3132-3ecf-bd61d4ecf2d1","name":"ExecuteSQL","comments":"","position":{"x":-888.0,"y":-1064.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":"CREATE TABLE date (\n    date_id INT AUTO_INCREMENT PRIMARY KEY,\n    d_date DATE UNIQUE\n);","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"INSERT INTO date (d_date)\nSELECT DISTINCT date_column\nFROM (\n    SELECT l_shipdate AS date_column FROM lineitem\n    UNION\n    SELECT l_commitdate FROM lineitem\n    UNION\n    SELECT l_receiptdate FROM lineitem\n    UNION\n    SELECT o_orderdate FROM orders\n) AS unique_dates\nORDER BY date_column ASC;\n\nSELECT * FROM date;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"},{"identifier":"323e325a-0195-1000-320b-d9e9fc185541","instanceIdentifier":"5e80a99d-b4a1-379a-cba8-9d3e5d887899","name":"UpdateAttribute","comments":"","position":{"x":-888.0,"y":-648.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_DATE","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"},{"identifier":"3124b247-0195-1000-70f1-92036b391b24","instanceIdentifier":"b6109e37-6d94-3eb3-513a-ab4fe1e3e197","name":"ConvertRecord","comments":"","position":{"x":-888.0,"y":-856.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"},{"identifier":"89061d9d-40e6-3a68-b649-d2ed2a0d4b05","instanceIdentifier":"31d65cb1-0195-1000-ea8d-b1c4f72a4dd7","name":"Notify","comments":"","position":{"x":-240.0,"y":-1064.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"73c91c10-8b1e-3c53-8fee-76df0eb4eef9","signal-buffer-count":"1","release-signal-id":"DateTableCreated","signal-counter-name":"true","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"},{"identifier":"3124b248-0195-1000-a889-d859baacc3e8","instanceIdentifier":"f366b0fe-7736-379c-4776-23418f64733f","name":"PutFile","comments":"","position":{"x":-888.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3124b24a-0195-1000-54e9-af913ad795a3","instanceIdentifier":"1ca395f7-4cd0-3797-68d6-25ecaac9a62a","name":"","source":{"id":"3124b249-0195-1000-b737-3193f72c5e1f","type":"PROCESSOR","groupId":"3124b245-0195-1000-35a9-58bbf26a442a","name":"ExecuteSQL","comments":"","instanceIdentifier":"fe498799-0c0f-3132-3ecf-bd61d4ecf2d1"},"destination":{"id":"3124b247-0195-1000-70f1-92036b391b24","type":"PROCESSOR","groupId":"3124b245-0195-1000-35a9-58bbf26a442a","name":"ConvertRecord","comments":"","instanceIdentifier":"b6109e37-6d94-3eb3-513a-ab4fe1e3e197"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"},{"identifier":"13f2a48e-d0e6-31d8-9257-d4a9a8faafa1","instanceIdentifier":"323e577e-0195-1000-82b2-88887b94739c","name":"","source":{"id":"3124b247-0195-1000-70f1-92036b391b24","type":"PROCESSOR","groupId":"3124b245-0195-1000-35a9-58bbf26a442a","name":"ConvertRecord","comments":"","instanceIdentifier":"b6109e37-6d94-3eb3-513a-ab4fe1e3e197"},"destination":{"id":"323e325a-0195-1000-320b-d9e9fc185541","type":"PROCESSOR","groupId":"3124b245-0195-1000-35a9-58bbf26a442a","name":"UpdateAttribute","comments":"","instanceIdentifier":"5e80a99d-b4a1-379a-cba8-9d3e5d887899"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"},{"identifier":"dc6b3a18-5044-3ae6-ba1a-54c7a8f73157","instanceIdentifier":"31fea1c1-0195-1000-63f0-b642cdb246df","name":"","source":{"id":"3124b249-0195-1000-b737-3193f72c5e1f","type":"PROCESSOR","groupId":"3124b245-0195-1000-35a9-58bbf26a442a","name":"ExecuteSQL","comments":"","instanceIdentifier":"fe498799-0c0f-3132-3ecf-bd61d4ecf2d1"},"destination":{"id":"89061d9d-40e6-3a68-b649-d2ed2a0d4b05","type":"PROCESSOR","groupId":"3124b245-0195-1000-35a9-58bbf26a442a","name":"Notify","comments":"","instanceIdentifier":"31d65cb1-0195-1000-ea8d-b1c4f72a4dd7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"},{"identifier":"4944628f-6202-362f-a29f-6edd4f23b9ef","instanceIdentifier":"323e6d63-0195-1000-18e3-1be7fe772c5b","name":"","source":{"id":"323e325a-0195-1000-320b-d9e9fc185541","type":"PROCESSOR","groupId":"3124b245-0195-1000-35a9-58bbf26a442a","name":"UpdateAttribute","comments":"","instanceIdentifier":"5e80a99d-b4a1-379a-cba8-9d3e5d887899"},"destination":{"id":"3124b248-0195-1000-a889-d859baacc3e8","type":"PROCESSOR","groupId":"3124b245-0195-1000-35a9-58bbf26a442a","name":"PutFile","comments":"","instanceIdentifier":"f366b0fe-7736-379c-4776-23418f64733f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3124b245-0195-1000-35a9-58bbf26a442a"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"0e082f50-85c6-3796-9f18-0784ef61cf4e"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"9c980848-30d1-391a-9eb2-2d8aa3762ac1","instanceIdentifier":"31b31506-0195-1000-b31b-03c7d0df41cd","position":{"x":-32.0,"y":-784.0},"label":"LAB1 - OLAP\n\nMohamed Ali Riyad                   20011457\nFareeda Mohamed Ragab         19016154\nMariam Hossam Ali                   20011882\nMostafa Mohamed Galal          20011945","zIndex":0,"width":384.0,"height":168.0,"style":{"background-color":"#3d3d3d","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"0e082f50-85c6-3796-9f18-0784ef61cf4e"}],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"73c91c10-8b1e-3c53-8fee-76df0eb4eef9":{"identifier":"73c91c10-8b1e-3c53-8fee-76df0eb4eef9","name":"MapCacheClientService"},"b34e17be-3f76-3f07-82ff-1131aaa4a1c1":{"identifier":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","name":"DBCPConnectionPool"},"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a":{"identifier":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","name":"AvroReader"},"62305503-8f9b-333a-8d3d-ad9ffc542e8f":{"identifier":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","name":"ParquetRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}