LAB1-OLAP-JoinEnrichment.json
{"flowContents":{"identifier":"71f74999-c016-3e4d-bb02-9394c61ba17c","instanceIdentifier":"54b96f0e-0195-1000-5f75-0c505980b922","name":"LAB1 - OLAP - NEW","comments":"","position":{"x":-378.0,"y":-693.0},"processGroups":[{"identifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d","instanceIdentifier":"e6ab24be-88fe-3725-fc8c-1bb9061ca378","name":"DIM_SUPPLIER","comments":"","position":{"x":344.0,"y":-16.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"54f582a5-0195-1000-3951-3a8ae792b233","instanceIdentifier":"9281b6db-792c-30f5-66ab-dc87f94e617b","name":"UpdateAttribute","comments":"","position":{"x":-1136.0,"y":-1640.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_SUPPLIER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582a3-0195-1000-4e17-48569a9aa2e4","instanceIdentifier":"8b8298db-27bf-3efd-1a8a-c6ab62240bbf","name":"PutFile","comments":"","position":{"x":-1752.0,"y":-1640.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582a4-0195-1000-4c0f-31bc8008ef82","instanceIdentifier":"d92134e6-b798-3af4-9b68-fc3a8caf7b06","name":"ExecuteSQL","comments":"","position":{"x":-1752.0,"y":-1184.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT \n  s_suppkey,\n  s_name,\n  s_address,\n  s_nationkey,\n  s_phone,\n  s_acctbal\nFROM supplier","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582a0-0195-1000-479c-e06431fcb217","instanceIdentifier":"96f0b727-d104-3429-b815-a6f1ba4312de","name":"UpdateAttribute","comments":"","position":{"x":-528.0,"y":-1408.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"enrichment.role":"ENRICHMENT","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"enrichment.role":{"name":"enrichment.role","displayName":"enrichment.role","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582a2-0195-1000-864f-7e171d742d1f","instanceIdentifier":"85501c42-8f08-3796-22f4-7a1f0e4b0fd4","name":"ConvertRecord","comments":"","position":{"x":-1136.0,"y":-1408.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582a1-0195-1000-be63-605437c9c88e","instanceIdentifier":"d239e4cd-6625-33c3-b016-2005bbb45cfe","name":"ExecuteSQL","comments":"","position":{"x":-528.0,"y":-1632.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n\tn_nationkey,\n\tn_name\nFROM nation","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582a6-0195-1000-ac7c-2df5e8e633a5","instanceIdentifier":"99d9725c-d32f-32b1-211c-655afa48cc93","name":"JoinEnrichment","comments":"","position":{"x":-528.0,"y":-1184.0},"type":"org.apache.nifi.processors.standard.JoinEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"dbf-default-precision":"15","Join Strategy":"SQL","Insertion Record Path":"/","Timeout":"10 min","Original Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","Record Writer":"2f3e83e8-7633-37d2-8073-3aebbd934cca","Enrichment Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","dbf-default-scale":"0","Maximum number of Bins":"10000","SQL":"SELECT \n\ts_suppkey,\n    s_name,\n    s_address,\n    s_phone,\n    s_acctbal,\n\tn_name\nFROM original \nLEFT OUTER JOIN enrichment \nON s_nationkey = n_nationkey"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Join Strategy":{"name":"Join Strategy","displayName":"Join Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Insertion Record Path":{"name":"Insertion Record Path","displayName":"Insertion Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Original Record Reader":{"name":"Original Record Reader","displayName":"Original Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Enrichment Record Reader":{"name":"Enrichment Record Reader","displayName":"Enrichment Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL":{"name":"SQL","displayName":"SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure","timeout"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f5829f-0195-1000-0c99-4b2c937b03ed","instanceIdentifier":"18ec491a-8971-349a-bfd0-92a88592c515","name":"UpdateAttribute","comments":"","position":{"x":-1136.0,"y":-1184.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"enrichment.role":"ORIGINAL","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"enrichment.role":{"name":"enrichment.role","displayName":"enrichment.role","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"54f582a8-0195-1000-7953-f61873d886dc","instanceIdentifier":"de94fdbe-e324-3788-9048-acbb44c7df7f","name":"","source":{"id":"54f582a1-0195-1000-be63-605437c9c88e","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"ExecuteSQL","comments":"","instanceIdentifier":"d239e4cd-6625-33c3-b016-2005bbb45cfe"},"destination":{"id":"54f582a0-0195-1000-479c-e06431fcb217","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"UpdateAttribute","comments":"","instanceIdentifier":"96f0b727-d104-3429-b815-a6f1ba4312de"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582a9-0195-1000-7f4b-654dbd26a0cd","instanceIdentifier":"cc925fcb-a53f-3372-8837-f20c82b6d619","name":"","source":{"id":"54f5829f-0195-1000-0c99-4b2c937b03ed","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"UpdateAttribute","comments":"","instanceIdentifier":"18ec491a-8971-349a-bfd0-92a88592c515"},"destination":{"id":"54f582a6-0195-1000-ac7c-2df5e8e633a5","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"JoinEnrichment","comments":"","instanceIdentifier":"99d9725c-d32f-32b1-211c-655afa48cc93"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582aa-0195-1000-6eaa-85e2d1e160ed","instanceIdentifier":"423add02-9d7f-31f1-7fee-dda61eaee2d1","name":"","source":{"id":"54f582a4-0195-1000-4c0f-31bc8008ef82","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"ExecuteSQL","comments":"","instanceIdentifier":"d92134e6-b798-3af4-9b68-fc3a8caf7b06"},"destination":{"id":"54f5829f-0195-1000-0c99-4b2c937b03ed","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"UpdateAttribute","comments":"","instanceIdentifier":"18ec491a-8971-349a-bfd0-92a88592c515"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582a7-0195-1000-27c4-4293ef745ddb","instanceIdentifier":"e655b89a-49cf-39ec-53d4-a5ada37c712d","name":"","source":{"id":"54f582a2-0195-1000-864f-7e171d742d1f","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"ConvertRecord","comments":"","instanceIdentifier":"85501c42-8f08-3796-22f4-7a1f0e4b0fd4"},"destination":{"id":"54f582a5-0195-1000-3951-3a8ae792b233","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"UpdateAttribute","comments":"","instanceIdentifier":"9281b6db-792c-30f5-66ab-dc87f94e617b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582ad-0195-1000-3fd3-7ead9165a386","instanceIdentifier":"40a5939a-6b47-3bc3-4d94-65559514277b","name":"","source":{"id":"54f582a0-0195-1000-479c-e06431fcb217","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"UpdateAttribute","comments":"","instanceIdentifier":"96f0b727-d104-3429-b815-a6f1ba4312de"},"destination":{"id":"54f582a6-0195-1000-ac7c-2df5e8e633a5","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"JoinEnrichment","comments":"","instanceIdentifier":"99d9725c-d32f-32b1-211c-655afa48cc93"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582ab-0195-1000-19cb-b73e5ed2d6b2","instanceIdentifier":"a0b92ceb-f753-3252-f2ab-9b42cb78fbcf","name":"","source":{"id":"54f582a6-0195-1000-ac7c-2df5e8e633a5","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"JoinEnrichment","comments":"","instanceIdentifier":"99d9725c-d32f-32b1-211c-655afa48cc93"},"destination":{"id":"54f582a2-0195-1000-864f-7e171d742d1f","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"ConvertRecord","comments":"","instanceIdentifier":"85501c42-8f08-3796-22f4-7a1f0e4b0fd4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["joined"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"},{"identifier":"54f582ac-0195-1000-7052-4a96ace52b4b","instanceIdentifier":"2ead6001-626f-3830-c9fd-6da90b187536","name":"","source":{"id":"54f582a5-0195-1000-3951-3a8ae792b233","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"UpdateAttribute","comments":"","instanceIdentifier":"9281b6db-792c-30f5-66ab-dc87f94e617b"},"destination":{"id":"54f582a3-0195-1000-4e17-48569a9aa2e4","type":"PROCESSOR","groupId":"54f5829d-0195-1000-0992-fb4dc96e0a2d","name":"PutFile","comments":"","instanceIdentifier":"8b8298db-27bf-3efd-1a8a-c6ab62240bbf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54f5829d-0195-1000-0992-fb4dc96e0a2d"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"71f74999-c016-3e4d-bb02-9394c61ba17c"},{"identifier":"54b9af61-0195-1000-5ac3-02ab8af149a9","instanceIdentifier":"18019c8f-0093-35de-d13a-16a7c0752d78","name":"DIM_CUSTOMER","comments":"","position":{"x":-248.0,"y":-16.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"54d1fda2-0195-1000-9fc6-3e9597121b2b","instanceIdentifier":"07b4902b-ecb4-34c9-d4bc-0abb819a99ce","name":"UpdateAttribute","comments":"","position":{"x":-1136.0,"y":-1184.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"enrichment.role":"ORIGINAL","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"enrichment.role":{"name":"enrichment.role","displayName":"enrichment.role","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"62ce6a31-dfac-3838-a237-683916b07974","instanceIdentifier":"54d0ee3d-0195-1000-9bc2-39b25484c552","name":"UpdateAttribute","comments":"","position":{"x":-528.0,"y":-1408.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"enrichment.role":"ENRICHMENT","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"enrichment.role":{"name":"enrichment.role","displayName":"enrichment.role","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"54be16a9-0195-1000-6410-c211eb922aab","instanceIdentifier":"93e618be-b12d-3f1a-cee8-1e2a098c54d9","name":"ExecuteSQL","comments":"","position":{"x":-528.0,"y":-1632.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n\tn_nationkey,\n\tn_name\nFROM nation","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"54b9af67-0195-1000-8dbf-6269aee1169f","instanceIdentifier":"9c0e7ce3-8ecb-396a-c849-64536dd2e239","name":"ConvertRecord","comments":"","position":{"x":-1136.0,"y":-1408.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"54b9af64-0195-1000-31d5-4b9757383108","instanceIdentifier":"923c2383-d06c-3fd0-518b-719ae879c16b","name":"PutFile","comments":"","position":{"x":-1752.0,"y":-1640.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"54bde977-0195-1000-b8da-4856cea4a5bc","instanceIdentifier":"6bb481d9-1742-3f3c-8229-91fcd4e65e9d","name":"ExecuteSQL","comments":"","position":{"x":-1752.0,"y":-1184.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n\tc_custkey,\n\tc_name,\n\tc_address,\n\tc_nationkey,\n\tc_phone,\n\tc_acctbal,\n\tc_mktsegment\nFROM customer","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"54b9af65-0195-1000-6fbc-a250acdabf5f","instanceIdentifier":"4f7e60eb-4cfa-38a4-3fb3-dac7c1466213","name":"UpdateAttribute","comments":"","position":{"x":-1136.0,"y":-1640.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_CUSTOMER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"45ef20ff-1c0d-3f2f-b14f-73447b9a98b1","instanceIdentifier":"54bb36a7-0195-1000-a14f-ba03da4e574c","name":"JoinEnrichment","comments":"","position":{"x":-528.0,"y":-1184.0},"type":"org.apache.nifi.processors.standard.JoinEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"dbf-default-precision":"15","Join Strategy":"SQL","Insertion Record Path":"/","Timeout":"10 min","Original Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","Record Writer":"f939f316-845b-39f4-82e0-7fdd2c250bda","Enrichment Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","dbf-default-scale":"0","Maximum number of Bins":"10000","SQL":"SELECT \n\tc_custkey,\n\tc_name,\n\tc_address,\n\tc_phone,\n\tc_acctbal,\n\tc_mktsegment,\n\tn_name\nFROM original \nLEFT OUTER JOIN enrichment \nON c_nationkey = n_nationkey"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Join Strategy":{"name":"Join Strategy","displayName":"Join Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Insertion Record Path":{"name":"Insertion Record Path","displayName":"Insertion Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Original Record Reader":{"name":"Original Record Reader","displayName":"Original Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Enrichment Record Reader":{"name":"Enrichment Record Reader","displayName":"Enrichment Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL":{"name":"SQL","displayName":"SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure","timeout"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"54b9af6d-0195-1000-b9e3-86f5e33f1ad8","instanceIdentifier":"dc7687db-28f3-343a-c8a0-28afe1e17672","name":"","source":{"id":"54b9af67-0195-1000-8dbf-6269aee1169f","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"ConvertRecord","comments":"","instanceIdentifier":"9c0e7ce3-8ecb-396a-c849-64536dd2e239"},"destination":{"id":"54b9af65-0195-1000-6fbc-a250acdabf5f","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"UpdateAttribute","comments":"","instanceIdentifier":"4f7e60eb-4cfa-38a4-3fb3-dac7c1466213"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"cd1e5dc7-55a8-3f66-b7f0-022d2d7973fa","instanceIdentifier":"54d2605a-0195-1000-6e3e-352b0b477d7a","name":"","source":{"id":"54be16a9-0195-1000-6410-c211eb922aab","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"ExecuteSQL","comments":"","instanceIdentifier":"93e618be-b12d-3f1a-cee8-1e2a098c54d9"},"destination":{"id":"62ce6a31-dfac-3838-a237-683916b07974","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"UpdateAttribute","comments":"","instanceIdentifier":"54d0ee3d-0195-1000-9bc2-39b25484c552"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"7dd84e9e-e412-36ab-936a-038dbc3e0965","instanceIdentifier":"54d24ab7-0195-1000-22e7-65c7859cae9c","name":"","source":{"id":"54d1fda2-0195-1000-9fc6-3e9597121b2b","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"UpdateAttribute","comments":"","instanceIdentifier":"07b4902b-ecb4-34c9-d4bc-0abb819a99ce"},"destination":{"id":"45ef20ff-1c0d-3f2f-b14f-73447b9a98b1","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"JoinEnrichment","comments":"","instanceIdentifier":"54bb36a7-0195-1000-a14f-ba03da4e574c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"5950eaa3-3119-331d-8537-202149de83f8","instanceIdentifier":"54d23de0-0195-1000-f9c1-4c5472c3b66d","name":"","source":{"id":"54bde977-0195-1000-b8da-4856cea4a5bc","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"ExecuteSQL","comments":"","instanceIdentifier":"6bb481d9-1742-3f3c-8229-91fcd4e65e9d"},"destination":{"id":"54d1fda2-0195-1000-9fc6-3e9597121b2b","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"UpdateAttribute","comments":"","instanceIdentifier":"07b4902b-ecb4-34c9-d4bc-0abb819a99ce"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"38d0e6b6-648c-38d5-8721-7f7c91db8fc1","instanceIdentifier":"54f541ab-0195-1000-7253-4cc6878ac6b4","name":"","source":{"id":"45ef20ff-1c0d-3f2f-b14f-73447b9a98b1","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"JoinEnrichment","comments":"","instanceIdentifier":"54bb36a7-0195-1000-a14f-ba03da4e574c"},"destination":{"id":"54b9af67-0195-1000-8dbf-6269aee1169f","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"ConvertRecord","comments":"","instanceIdentifier":"9c0e7ce3-8ecb-396a-c849-64536dd2e239"},"labelIndex":0,"zIndex":0,"selectedRelationships":["joined"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"54b9af69-0195-1000-adf0-5a00b4a8fea6","instanceIdentifier":"9656d589-3d89-312c-854b-bb9fd3c0f13e","name":"","source":{"id":"54b9af65-0195-1000-6fbc-a250acdabf5f","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"UpdateAttribute","comments":"","instanceIdentifier":"4f7e60eb-4cfa-38a4-3fb3-dac7c1466213"},"destination":{"id":"54b9af64-0195-1000-31d5-4b9757383108","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"PutFile","comments":"","instanceIdentifier":"923c2383-d06c-3fd0-518b-719ae879c16b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"},{"identifier":"581988a5-49b7-32e1-96c1-6a6bd6224985","instanceIdentifier":"54d26e83-0195-1000-984a-4ac517cf2227","name":"","source":{"id":"62ce6a31-dfac-3838-a237-683916b07974","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"UpdateAttribute","comments":"","instanceIdentifier":"54d0ee3d-0195-1000-9bc2-39b25484c552"},"destination":{"id":"45ef20ff-1c0d-3f2f-b14f-73447b9a98b1","type":"PROCESSOR","groupId":"54b9af61-0195-1000-5ac3-02ab8af149a9","name":"JoinEnrichment","comments":"","instanceIdentifier":"54bb36a7-0195-1000-a14f-ba03da4e574c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"f939f316-845b-39f4-82e0-7fdd2c250bda","instanceIdentifier":"54bba935-0195-1000-041c-ed3085be5ea1","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"54b9af61-0195-1000-5ac3-02ab8af149a9"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"71f74999-c016-3e4d-bb02-9394c61ba17c"},{"identifier":"55398108-0195-1000-b5cb-fa577cc43597","instanceIdentifier":"50cdcdf2-67fb-3622-e52d-b03c1c0a8212","name":"FCT_LINEORDER","comments":"","position":{"x":56.0,"y":-568.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5539810d-0195-1000-5590-1d682a66f49c","instanceIdentifier":"fcc2a478-6b5c-31b8-54dc-c36ca041d286","name":"UpdateAttribute","comments":"","position":{"x":-1584.0,"y":-1640.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"enrichment.role":"ENRICHMENT","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"enrichment.role":{"name":"enrichment.role","displayName":"enrichment.role","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"5539810a-0195-1000-fb79-b8624f095627","instanceIdentifier":"579fc20f-27fc-38db-1414-5c930fd784eb","name":"ConvertRecord","comments":"","position":{"x":-384.0,"y":-1640.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"558266d0-0195-1000-8bb5-45906a732994","instanceIdentifier":"0a27b289-55ee-3ee2-2041-54763267693a","name":"ControlRate","comments":"","position":{"x":-1584.0,"y":-1408.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"30 sec","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"5539810e-0195-1000-3e6f-783240fd530f","instanceIdentifier":"68fd1ebd-1779-390a-7f78-642cba8276fa","name":"UpdateAttribute","comments":"","position":{"x":-984.0,"y":-1864.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"enrichment.role":"ORIGINAL","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"enrichment.role":{"name":"enrichment.role","displayName":"enrichment.role","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"55398109-0195-1000-f69c-0441af2b9d8d","instanceIdentifier":"4b323bda-6423-3c0e-8cab-de621fa88707","name":"PutFile","comments":"","position":{"x":-384.0,"y":-2096.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"55825b9e-0195-1000-daab-c1b8f9deb732","instanceIdentifier":"7415c95c-b5f6-3b3d-e30a-3334831256d5","name":"ControlRate","comments":"","position":{"x":-984.0,"y":-1640.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"30 sec","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"f02cc0f6-f9f9-3c78-abc4-38c9f15d09a5","instanceIdentifier":"553a837e-0195-1000-718d-ebadfc030029","name":"GenerateTableFetch","comments":"","position":{"x":-1584.0,"y":-2096.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"lineitem","db-fetch-db-type":"Generic","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","gen-table-fetch-partition-size":"1000204","Columns to Return":"l_orderkey,\nl_partkey,\nl_suppkey,\nl_linenumber,\nl_quantity,\nl_extendedprice,\nl_discount,\nl_tax,\nl_returnflag,\nl_linestatus,\nl_shipdate,\nl_commitdate,\nl_receiptdate,\nl_shipinstruct,\nl_shipmode","Maximum-value Columns":null,"db-fetch-where-clause":null,"Database Dialect Service":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"5542f4e4-0195-1000-c9e9-af375ae8312e","instanceIdentifier":"6c902263-d2a1-3daa-3b2d-a83f9ed287a6","name":"ExecuteSQL","comments":"","position":{"x":-984.0,"y":-2096.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"5539810c-0195-1000-b7c8-86f66b0913ea","instanceIdentifier":"19838e84-8cd5-3f21-e653-51796487bcaf","name":"UpdateAttribute","comments":"","position":{"x":-384.0,"y":-1864.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"FCT_LINEORDER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"5539810f-0195-1000-17a8-77371340a200","instanceIdentifier":"3f6717cb-08f5-304f-ef1a-7d264aee120b","name":"JoinEnrichment","comments":"","position":{"x":-984.0,"y":-1408.0},"type":"org.apache.nifi.processors.standard.JoinEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"dbf-default-precision":"15","Join Strategy":"SQL","Insertion Record Path":"/","Timeout":"10 min","Original Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","Record Writer":"2f3e83e8-7633-37d2-8073-3aebbd934cca","Enrichment Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","dbf-default-scale":"0","Maximum number of Bins":"10000","SQL":"SELECT \n\tl_orderkey,\n    l_partkey,\n    l_suppkey,\n    l_linenumber,\n    l_quantity,\n    l_extendedprice,\n    l_discount,\n    l_tax,\n    l_returnflag,\n    l_linestatus,\n    l_shipdate,\n    l_commitdate,\n    l_receiptdate,\n    l_shipinstruct,\n    l_shipmode,\n\to_custkey,\n    o_orderstatus,\n    o_totalprice,\n    o_orderdate,\n    o_orderpriority,\n    o_clerk,\n    o_shippriority\nFROM original\nLEFT OUTER JOIN enrichment \nON l_orderkey = o_orderkey"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Join Strategy":{"name":"Join Strategy","displayName":"Join Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Insertion Record Path":{"name":"Insertion Record Path","displayName":"Insertion Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Original Record Reader":{"name":"Original Record Reader","displayName":"Original Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Enrichment Record Reader":{"name":"Enrichment Record Reader","displayName":"Enrichment Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL":{"name":"SQL","displayName":"SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure","timeout"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"e1f8f2b4-75f9-3a3f-938f-429c97354b29","instanceIdentifier":"553de856-0195-1000-ac2c-17dfc8d790d2","name":"MergeRecord","comments":"","position":{"x":-384.0,"y":-1408.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"6001215","max-bin-size":null,"record-writer":"2f3e83e8-7633-37d2-8073-3aebbd934cca","merge-strategy":"Bin-Packing Algorithm","record-reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","max-records":"6001215","min-bin-size":"0 B","max.bin.count":"1"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"5539810b-0195-1000-d552-fbe330d3f491","instanceIdentifier":"b3a73f03-9bda-3080-8129-13b5031c0f66","name":"ExecuteSQL","comments":"","position":{"x":-1584.0,"y":-1864.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n\to_orderkey,\n    o_custkey,\n    o_orderstatus,\n    o_totalprice,\n    o_orderdate,\n    o_orderpriority,\n    o_clerk,\n    o_shippriority\nFROM orders","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e07c2c05-b6e4-34a3-837f-b0bad55117f5","instanceIdentifier":"557c8854-0195-1000-34ed-244759c62884","name":"","source":{"id":"f02cc0f6-f9f9-3c78-abc4-38c9f15d09a5","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"GenerateTableFetch","comments":"","instanceIdentifier":"553a837e-0195-1000-718d-ebadfc030029"},"destination":{"id":"5539810b-0195-1000-d552-fbe330d3f491","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ExecuteSQL","comments":"","instanceIdentifier":"b3a73f03-9bda-3080-8129-13b5031c0f66"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"55398112-0195-1000-4e3d-bb0aa21af047","instanceIdentifier":"0510b8a9-d7c6-31d5-9c49-42b64f8f70d9","name":"","source":{"id":"5539810c-0195-1000-b7c8-86f66b0913ea","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"UpdateAttribute","comments":"","instanceIdentifier":"19838e84-8cd5-3f21-e653-51796487bcaf"},"destination":{"id":"55398109-0195-1000-f69c-0441af2b9d8d","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"PutFile","comments":"","instanceIdentifier":"4b323bda-6423-3c0e-8cab-de621fa88707"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"5f21dfe7-b26c-315b-bacc-9b36de024876","instanceIdentifier":"554e518f-0195-1000-943a-d80fab1fd639","name":"","source":{"id":"5539810a-0195-1000-fb79-b8624f095627","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ConvertRecord","comments":"","instanceIdentifier":"579fc20f-27fc-38db-1414-5c930fd784eb"},"destination":{"id":"5539810c-0195-1000-b7c8-86f66b0913ea","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"UpdateAttribute","comments":"","instanceIdentifier":"19838e84-8cd5-3f21-e653-51796487bcaf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"75948806-da51-3e9c-b671-cfcb4e0e1760","instanceIdentifier":"5582972d-0195-1000-4571-66d80c6823c4","name":"","source":{"id":"558266d0-0195-1000-8bb5-45906a732994","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ControlRate","comments":"","instanceIdentifier":"0a27b289-55ee-3ee2-2041-54763267693a"},"destination":{"id":"5539810f-0195-1000-17a8-77371340a200","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"JoinEnrichment","comments":"","instanceIdentifier":"3f6717cb-08f5-304f-ef1a-7d264aee120b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"1f73cdfc-ee84-377d-a406-46cbbb24d133","instanceIdentifier":"554382de-0195-1000-20ec-5a902b301c21","name":"","source":{"id":"5542f4e4-0195-1000-c9e9-af375ae8312e","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ExecuteSQL","comments":"","instanceIdentifier":"6c902263-d2a1-3daa-3b2d-a83f9ed287a6"},"destination":{"id":"5539810e-0195-1000-3e6f-783240fd530f","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"UpdateAttribute","comments":"","instanceIdentifier":"68fd1ebd-1779-390a-7f78-642cba8276fa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"6a7eab57-d98c-3b6d-82d7-9541d2e164bf","instanceIdentifier":"554e1bb7-0195-1000-d547-932b349afe15","name":"","source":{"id":"5539810f-0195-1000-17a8-77371340a200","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"JoinEnrichment","comments":"","instanceIdentifier":"3f6717cb-08f5-304f-ef1a-7d264aee120b"},"destination":{"id":"e1f8f2b4-75f9-3a3f-938f-429c97354b29","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"MergeRecord","comments":"","instanceIdentifier":"553de856-0195-1000-ac2c-17dfc8d790d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["joined"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"55398115-0195-1000-1052-d665a24439e4","instanceIdentifier":"c067f3d7-b0bc-39d7-ab74-25e5cc89e8fb","name":"","source":{"id":"5539810b-0195-1000-d552-fbe330d3f491","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ExecuteSQL","comments":"","instanceIdentifier":"b3a73f03-9bda-3080-8129-13b5031c0f66"},"destination":{"id":"5539810d-0195-1000-5590-1d682a66f49c","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"UpdateAttribute","comments":"","instanceIdentifier":"fcc2a478-6b5c-31b8-54dc-c36ca041d286"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"b14be355-ec30-3150-86cb-aeab6f39b146","instanceIdentifier":"554312a1-0195-1000-eeba-102af7b87828","name":"","source":{"id":"f02cc0f6-f9f9-3c78-abc4-38c9f15d09a5","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"GenerateTableFetch","comments":"","instanceIdentifier":"553a837e-0195-1000-718d-ebadfc030029"},"destination":{"id":"5542f4e4-0195-1000-c9e9-af375ae8312e","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ExecuteSQL","comments":"","instanceIdentifier":"6c902263-d2a1-3daa-3b2d-a83f9ed287a6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":60,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"19b457d0-4cd2-3468-bab9-f427ba7b520c","instanceIdentifier":"554e35c9-0195-1000-60e1-89432b2079e9","name":"","source":{"id":"e1f8f2b4-75f9-3a3f-938f-429c97354b29","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"MergeRecord","comments":"","instanceIdentifier":"553de856-0195-1000-ac2c-17dfc8d790d2"},"destination":{"id":"5539810a-0195-1000-fb79-b8624f095627","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ConvertRecord","comments":"","instanceIdentifier":"579fc20f-27fc-38db-1414-5c930fd784eb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"a432ef81-c7d0-36fd-9889-6bb954d661ad","instanceIdentifier":"5582a65b-0195-1000-1465-63278dd805bb","name":"","source":{"id":"5539810e-0195-1000-3e6f-783240fd530f","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"UpdateAttribute","comments":"","instanceIdentifier":"68fd1ebd-1779-390a-7f78-642cba8276fa"},"destination":{"id":"55825b9e-0195-1000-daab-c1b8f9deb732","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ControlRate","comments":"","instanceIdentifier":"7415c95c-b5f6-3b3d-e30a-3334831256d5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"0c211b3c-aefb-3626-8e80-3274afb5079b","instanceIdentifier":"55827a1b-0195-1000-8ca4-e48a934c46de","name":"","source":{"id":"5539810d-0195-1000-5590-1d682a66f49c","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"UpdateAttribute","comments":"","instanceIdentifier":"fcc2a478-6b5c-31b8-54dc-c36ca041d286"},"destination":{"id":"558266d0-0195-1000-8bb5-45906a732994","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ControlRate","comments":"","instanceIdentifier":"0a27b289-55ee-3ee2-2041-54763267693a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"},{"identifier":"8d78bd2a-ae52-3c8e-b18f-284ca0bf6292","instanceIdentifier":"5582bd19-0195-1000-b8a0-1d3c6d9d35a6","name":"","source":{"id":"55825b9e-0195-1000-daab-c1b8f9deb732","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"ControlRate","comments":"","instanceIdentifier":"7415c95c-b5f6-3b3d-e30a-3334831256d5"},"destination":{"id":"5539810f-0195-1000-17a8-77371340a200","type":"PROCESSOR","groupId":"55398108-0195-1000-b5cb-fa577cc43597","name":"JoinEnrichment","comments":"","instanceIdentifier":"3f6717cb-08f5-304f-ef1a-7d264aee120b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55398108-0195-1000-b5cb-fa577cc43597"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"71f74999-c016-3e4d-bb02-9394c61ba17c"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"550a2e57-0195-1000-884f-f5e8d15f38ec","instanceIdentifier":"4cc465e9-c9a8-35eb-0926-fc5e1288fb75","position":{"x":512.0,"y":-312.0},"label":"Report Link: https://docs.google.com/document/d/17OO8\nk_CbBNhqJAwr02EfwzlwFGpBbGMHePMFHUfw12g\n/edit?usp=sharing\n\nNifi - Spark:\nhttps://drive.google.com/drive/folders/\n1S9BInQ8lDoaaBwMJQQ1hicFo-pEzUrpj?usp=sharing\n\n","zIndex":0,"width":384.0,"height":168.0,"style":{"background-color":"#3d3d3d","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"71f74999-c016-3e4d-bb02-9394c61ba17c"},{"identifier":"550a043c-0195-1000-39ef-748e0931d0d7","instanceIdentifier":"529474c3-fb0d-3ea9-9220-2ee360228141","position":{"x":-416.0,"y":-312.0},"label":"LAB1 - OLAP\n\nMohamed Ali Riyad                   20011457\nFareeda Mohamed Ragab         19016154\nMariam Hossam Ali                   20011882\nMostafa Mohamed Galal          20011945","zIndex":0,"width":384.0,"height":168.0,"style":{"background-color":"#3d3d3d","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"71f74999-c016-3e4d-bb02-9394c61ba17c"}],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"b34e17be-3f76-3f07-82ff-1131aaa4a1c1":{"identifier":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","name":"DBCPConnectionPool"},"2f3e83e8-7633-37d2-8073-3aebbd934cca":{"identifier":"2f3e83e8-7633-37d2-8073-3aebbd934cca","name":"AvroRecordSetWriter"},"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a":{"identifier":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","name":"AvroReader"},"62305503-8f9b-333a-8d3d-ad9ffc542e8f":{"identifier":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","name":"ParquetRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}