LookupRecord.json
{"flowContents":{"identifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e","instanceIdentifier":"4f9a3a5e-0195-1000-8c88-4aa2a07e6bf2","name":"LAB1 - OLAP","comments":"","position":{"x":-624.0,"y":-440.0},"processGroups":[{"identifier":"504a5eb4-0195-1000-47ea-0d143dfae18c","instanceIdentifier":"f3e651be-e3c6-3424-adf6-506482653bf5","name":"FCT_LINEORDER","comments":"","position":{"x":568.0,"y":-248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"504a5eb7-0195-1000-04bb-50ad0483993c","instanceIdentifier":"2d906e95-556d-36c8-ec02-e33c719d546e","name":"PutFile","comments":"","position":{"x":-1280.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"504a5eba-0195-1000-6b91-9e75e2a0cf05","instanceIdentifier":"e0fd2466-aecd-3d7e-ebc9-daf911fc2e68","name":"ConvertRecord","comments":"","position":{"x":-80.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"504a5eb8-0195-1000-423c-790f353b3c8b","instanceIdentifier":"b33c0359-a1d6-3c1a-6122-1d341326f753","name":"UpdateAttribute","comments":"","position":{"x":-680.0,"y":-536.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"FCT_LINEORDER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"504a5eb6-0195-1000-c4d8-06ecd60bc083","instanceIdentifier":"8f55ff94-9b8e-3f92-8f63-313d69d97ac6","name":"RemoveRecordField","comments":"","position":{"x":-80.0,"y":-736.0},"type":"org.apache.nifi.processors.standard.RemoveRecordField","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"field":"/l_orderkey","Record Writer":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"field":{"name":"field","displayName":"field","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"504a5eb5-0195-1000-44a8-567c77572460","instanceIdentifier":"b010b6e7-a887-3f9c-3c82-2148db08a204","name":"LookupRecord","comments":"","position":{"x":-80.0,"y":-944.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"100000","result-record-path":"/","record-writer":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","record-reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","lookup-service":"e575ddef-532e-3f54-a840-4e899924ee10","record-update-strategy":"use-property","key":"/l_orderkey"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"504a5ebb-0195-1000-b0c8-c21c15c343d9","instanceIdentifier":"283273ce-e9db-34cc-36a4-fcfac4d5b2a8","name":"ExecuteSQL","comments":"","position":{"x":-680.0,"y":-944.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n    l_linenumber,\n    l_partkey,\n    l_suppkey,\n\tl_orderkey,\n    l_quantity,\n    l_extendedprice,\n    l_discount,\n    l_tax,\n    l_returnflag,\n    l_linestatus,\n\tl_shipdate,\n    l_commitdate,\n    l_receiptdate,\n    l_shipinstruct,\n    l_shipmode\nFROM lineitem","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"16571481-5070-37b7-b785-555fed8e9b5e","instanceIdentifier":"50805d15-0195-1000-ce5b-bd77eaccb63a","name":"","source":{"id":"504a5eb5-0195-1000-44a8-567c77572460","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"LookupRecord","comments":"","instanceIdentifier":"b010b6e7-a887-3f9c-3c82-2148db08a204"},"destination":{"id":"504a5eb6-0195-1000-c4d8-06ecd60bc083","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"RemoveRecordField","comments":"","instanceIdentifier":"8f55ff94-9b8e-3f92-8f63-313d69d97ac6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"504a5ebc-0195-1000-c7bd-3d021d806f7f","instanceIdentifier":"437e803b-c19a-35bb-9331-ba46ff23730c","name":"","source":{"id":"504a5eb8-0195-1000-423c-790f353b3c8b","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"UpdateAttribute","comments":"","instanceIdentifier":"b33c0359-a1d6-3c1a-6122-1d341326f753"},"destination":{"id":"504a5eb7-0195-1000-04bb-50ad0483993c","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"PutFile","comments":"","instanceIdentifier":"2d906e95-556d-36c8-ec02-e33c719d546e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"6b7fa4ab-63ad-33a2-8249-56dbd17a64e8","instanceIdentifier":"51b542c1-0195-1000-4e36-76f7feb5504b","name":"","source":{"id":"504a5ebb-0195-1000-b0c8-c21c15c343d9","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"ExecuteSQL","comments":"","instanceIdentifier":"283273ce-e9db-34cc-36a4-fcfac4d5b2a8"},"destination":{"id":"504a5eb5-0195-1000-44a8-567c77572460","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"LookupRecord","comments":"","instanceIdentifier":"b010b6e7-a887-3f9c-3c82-2148db08a204"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"504a5ec0-0195-1000-720b-a0f25abef988","instanceIdentifier":"ffba2245-cc03-36b2-1624-fcfc359e1f63","name":"","source":{"id":"504a5eba-0195-1000-6b91-9e75e2a0cf05","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"ConvertRecord","comments":"","instanceIdentifier":"e0fd2466-aecd-3d7e-ebc9-daf911fc2e68"},"destination":{"id":"504a5eb8-0195-1000-423c-790f353b3c8b","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"UpdateAttribute","comments":"","instanceIdentifier":"b33c0359-a1d6-3c1a-6122-1d341326f753"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"},{"identifier":"504a5ec1-0195-1000-c93a-29817387edb6","instanceIdentifier":"218d889a-c9e6-319f-58e6-8eb3dd4f77ba","name":"","source":{"id":"504a5eb6-0195-1000-c4d8-06ecd60bc083","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"RemoveRecordField","comments":"","instanceIdentifier":"8f55ff94-9b8e-3f92-8f63-313d69d97ac6"},"destination":{"id":"504a5eba-0195-1000-6b91-9e75e2a0cf05","type":"PROCESSOR","groupId":"504a5eb4-0195-1000-47ea-0d143dfae18c","name":"ConvertRecord","comments":"","instanceIdentifier":"e0fd2466-aecd-3d7e-ebc9-daf911fc2e68"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"504a5eb4-0195-1000-47ea-0d143dfae18c"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"5025025d-0195-1000-8bbd-4b10f5bb9ce6","instanceIdentifier":"3217ed64-db24-3b1c-7b17-b6c1108d63c9","name":"DIM_PART","comments":"","position":{"x":360.0,"y":104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"50250261-0195-1000-15fe-a3190c0803de","instanceIdentifier":"7ff48115-45f8-32a0-70ef-bf85304118b3","name":"PutFile","comments":"","position":{"x":-1280.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5025025d-0195-1000-8bbd-4b10f5bb9ce6"},{"identifier":"5025025e-0195-1000-6b69-0b688a0467ab","instanceIdentifier":"408ade36-fdf7-39fa-8dd3-886f9598254c","name":"ExecuteSQL","comments":"","position":{"x":-80.0,"y":-744.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n\tp_partkey,\n\tp_name,\n\tp_mfgr,\n\tp_brand,\n\tp_type,\n\tp_size,\n\tp_container,\n\tp_retailprice\nFROM part","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5025025d-0195-1000-8bbd-4b10f5bb9ce6"},{"identifier":"50250264-0195-1000-a826-bea8470d814f","instanceIdentifier":"e2b3363f-61d8-316f-e445-56ecc2de2b07","name":"UpdateAttribute","comments":"","position":{"x":-680.0,"y":-536.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_PART","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5025025d-0195-1000-8bbd-4b10f5bb9ce6"},{"identifier":"50250263-0195-1000-30f7-29ec956bd5b4","instanceIdentifier":"0475f9a6-25e6-385b-720c-8eba3a4cf7a1","name":"ConvertRecord","comments":"","position":{"x":-80.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5025025d-0195-1000-8bbd-4b10f5bb9ce6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"50250267-0195-1000-c6fe-c60b123612bd","instanceIdentifier":"8055e112-88c2-3f61-bce4-89ec59d58bf6","name":"","source":{"id":"50250264-0195-1000-a826-bea8470d814f","type":"PROCESSOR","groupId":"5025025d-0195-1000-8bbd-4b10f5bb9ce6","name":"UpdateAttribute","comments":"","instanceIdentifier":"e2b3363f-61d8-316f-e445-56ecc2de2b07"},"destination":{"id":"50250261-0195-1000-15fe-a3190c0803de","type":"PROCESSOR","groupId":"5025025d-0195-1000-8bbd-4b10f5bb9ce6","name":"PutFile","comments":"","instanceIdentifier":"7ff48115-45f8-32a0-70ef-bf85304118b3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5025025d-0195-1000-8bbd-4b10f5bb9ce6"},{"identifier":"908ecb54-be68-3f51-b56b-8dfcf1e7f898","instanceIdentifier":"5027f412-0195-1000-8c05-4dd0c7898032","name":"","source":{"id":"5025025e-0195-1000-6b69-0b688a0467ab","type":"PROCESSOR","groupId":"5025025d-0195-1000-8bbd-4b10f5bb9ce6","name":"ExecuteSQL","comments":"","instanceIdentifier":"408ade36-fdf7-39fa-8dd3-886f9598254c"},"destination":{"id":"50250263-0195-1000-30f7-29ec956bd5b4","type":"PROCESSOR","groupId":"5025025d-0195-1000-8bbd-4b10f5bb9ce6","name":"ConvertRecord","comments":"","instanceIdentifier":"0475f9a6-25e6-385b-720c-8eba3a4cf7a1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5025025d-0195-1000-8bbd-4b10f5bb9ce6"},{"identifier":"50250266-0195-1000-0450-a3ba9bdc4177","instanceIdentifier":"36cf13e4-8be8-3d0f-2672-014bd3a787e1","name":"","source":{"id":"50250263-0195-1000-30f7-29ec956bd5b4","type":"PROCESSOR","groupId":"5025025d-0195-1000-8bbd-4b10f5bb9ce6","name":"ConvertRecord","comments":"","instanceIdentifier":"0475f9a6-25e6-385b-720c-8eba3a4cf7a1"},"destination":{"id":"50250264-0195-1000-a826-bea8470d814f","type":"PROCESSOR","groupId":"5025025d-0195-1000-8bbd-4b10f5bb9ce6","name":"UpdateAttribute","comments":"","instanceIdentifier":"e2b3363f-61d8-316f-e445-56ecc2de2b07"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5025025d-0195-1000-8bbd-4b10f5bb9ce6"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"50289ff5-0195-1000-b324-fad10c52955a","instanceIdentifier":"f7ecdb2b-b096-3bc4-ae32-43f2ae54544e","name":"DIM_CUSTOMER","comments":"","position":{"x":-240.0,"y":104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"50289ff7-0195-1000-af63-9d803baf8e43","instanceIdentifier":"279011da-135f-37be-1e84-2bd84974c855","name":"LookupRecord","comments":"","position":{"x":-680.0,"y":-936.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"25","result-record-path":"/","record-writer":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","record-reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","lookup-service":"90f93f79-77c2-30ad-a6b1-bf80847325da","record-update-strategy":"use-property","key":"/c_nationkey"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"50289ff8-0195-1000-931c-205cec3e0d14","instanceIdentifier":"17c938c4-40cf-3d43-f030-cae7ee316f4b","name":"RemoveRecordField","comments":"","position":{"x":-80.0,"y":-736.0},"type":"org.apache.nifi.processors.standard.RemoveRecordField","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"field 1":"/c_nationkey","field 2":"/n_regionkey","Record Writer":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"field 1":{"name":"field 1","displayName":"field 1","identifiesControllerService":false,"sensitive":false,"dynamic":true},"field 2":{"name":"field 2","displayName":"field 2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"50289ff9-0195-1000-ed6d-066b791c624b","instanceIdentifier":"f892a550-3dfd-33bb-2b5c-15d631c83285","name":"PutFile","comments":"","position":{"x":-1280.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"50289ffc-0195-1000-e269-d1bcbba36ffd","instanceIdentifier":"ef84d4dc-221e-3cf4-7ade-ac4412d22c64","name":"UpdateAttribute","comments":"","position":{"x":-680.0,"y":-536.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_CUSTOMER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"50289ffa-0195-1000-aa98-0e3023615260","instanceIdentifier":"771b6508-e1c7-32f3-3a8d-3bc1ada6144d","name":"LookupRecord","comments":"","position":{"x":-80.0,"y":-936.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"10","result-record-path":"/","record-writer":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","record-reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","lookup-service":"ba783bea-7045-3c82-acdc-0f0d1d14baf1","record-update-strategy":"use-property","key":"/n_regionkey"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"50289ffb-0195-1000-53fb-02d6aa5924c3","instanceIdentifier":"5d8bd6fd-94fa-375d-61b1-2ae01e869c99","name":"ConvertRecord","comments":"","position":{"x":-80.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"50289ff6-0195-1000-4939-7fdf45c8c0c6","instanceIdentifier":"3918f3cc-5853-39cc-8350-be303c7cd658","name":"ExecuteSQL","comments":"","position":{"x":-1280.0,"y":-936.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n\tc_custkey,\n\tc_name,\n\tc_address,\n\tc_nationkey,\n\tc_phone,\n\tc_acctbal,\n\tc_mktsegment\nFROM customer","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"50289fff-0195-1000-dad4-9ba2759b0527","instanceIdentifier":"5d0e439a-188a-38d8-d57c-0c5e81df6917","name":"","source":{"id":"50289ffc-0195-1000-e269-d1bcbba36ffd","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"UpdateAttribute","comments":"","instanceIdentifier":"ef84d4dc-221e-3cf4-7ade-ac4412d22c64"},"destination":{"id":"50289ff9-0195-1000-ed6d-066b791c624b","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"PutFile","comments":"","instanceIdentifier":"f892a550-3dfd-33bb-2b5c-15d631c83285"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"5028a002-0195-1000-1c16-0ded181966b1","instanceIdentifier":"66e693cf-d042-3cb7-330c-ca2b38fb4e2f","name":"","source":{"id":"50289ff6-0195-1000-4939-7fdf45c8c0c6","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"ExecuteSQL","comments":"","instanceIdentifier":"3918f3cc-5853-39cc-8350-be303c7cd658"},"destination":{"id":"50289ff7-0195-1000-af63-9d803baf8e43","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"LookupRecord","comments":"","instanceIdentifier":"279011da-135f-37be-1e84-2bd84974c855"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"50289ffd-0195-1000-a8f8-265fb3b82949","instanceIdentifier":"18d9f50f-48ea-3e30-4963-43b6155d55a8","name":"","source":{"id":"50289ff7-0195-1000-af63-9d803baf8e43","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"LookupRecord","comments":"","instanceIdentifier":"279011da-135f-37be-1e84-2bd84974c855"},"destination":{"id":"50289ffa-0195-1000-aa98-0e3023615260","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"LookupRecord","comments":"","instanceIdentifier":"771b6508-e1c7-32f3-3a8d-3bc1ada6144d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"5028a000-0195-1000-1d2a-83f618aa1597","instanceIdentifier":"1944ecd2-2d72-3290-1bd6-c9b1ea2fc546","name":"","source":{"id":"50289ffa-0195-1000-aa98-0e3023615260","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"LookupRecord","comments":"","instanceIdentifier":"771b6508-e1c7-32f3-3a8d-3bc1ada6144d"},"destination":{"id":"50289ff8-0195-1000-931c-205cec3e0d14","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"RemoveRecordField","comments":"","instanceIdentifier":"17c938c4-40cf-3d43-f030-cae7ee316f4b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"50289ffe-0195-1000-9376-828866b1af43","instanceIdentifier":"09e62db3-f507-3c67-a5dd-f36ef1c9a35a","name":"","source":{"id":"50289ffb-0195-1000-53fb-02d6aa5924c3","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"ConvertRecord","comments":"","instanceIdentifier":"5d8bd6fd-94fa-375d-61b1-2ae01e869c99"},"destination":{"id":"50289ffc-0195-1000-e269-d1bcbba36ffd","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"UpdateAttribute","comments":"","instanceIdentifier":"ef84d4dc-221e-3cf4-7ade-ac4412d22c64"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"},{"identifier":"5028a001-0195-1000-277a-7ee2a0862110","instanceIdentifier":"06d6237f-9b17-3695-832d-4b4e9137b186","name":"","source":{"id":"50289ff8-0195-1000-931c-205cec3e0d14","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"RemoveRecordField","comments":"","instanceIdentifier":"17c938c4-40cf-3d43-f030-cae7ee316f4b"},"destination":{"id":"50289ffb-0195-1000-53fb-02d6aa5924c3","type":"PROCESSOR","groupId":"50289ff5-0195-1000-b324-fad10c52955a","name":"ConvertRecord","comments":"","instanceIdentifier":"5d8bd6fd-94fa-375d-61b1-2ae01e869c99"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"50289ff5-0195-1000-b324-fad10c52955a"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b","instanceIdentifier":"3404401a-5038-30ae-1eac-8bb7a49bf318","name":"DIM_SUPPLIER","comments":"","position":{"x":-456.0,"y":-248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4f9af101-0195-1000-1fea-1d87ffd31fa5","instanceIdentifier":"7757471c-4e29-3987-ebb3-264a71cb5fcb","name":"ExecuteSQL","comments":"","position":{"x":-1280.0,"y":-936.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT\n\ts_suppkey,\n    s_name,\n    s_address,\n    s_nationkey,\n    s_phone,\n    s_acctbal\nFROM supplier s","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"31 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"de0e5609-aab8-32c7-8cd5-37c4a35dc28a","instanceIdentifier":"4f9be997-0195-1000-16c6-751d5eadccf4","name":"LookupRecord","comments":"","position":{"x":-680.0,"y":-936.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"25","result-record-path":"/","record-writer":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","record-reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","lookup-service":"90f93f79-77c2-30ad-a6b1-bf80847325da","record-update-strategy":"use-property","key":"/s_nationkey"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"0356a6dd-35fa-3dbb-acbe-373effd6de1c","instanceIdentifier":"5011371d-0195-1000-dbbd-8c3af97717b8","name":"RemoveRecordField","comments":"","position":{"x":-80.0,"y":-736.0},"type":"org.apache.nifi.processors.standard.RemoveRecordField","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"field 1":"/s_nationkey","field 2":"/n_regionkey","Record Writer":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"field 1":{"name":"field 1","displayName":"field 1","identifiesControllerService":false,"sensitive":false,"dynamic":true},"field 2":{"name":"field 2","displayName":"field 2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"4f9a4382-0195-1000-b05c-ce4c54462dbd","instanceIdentifier":"6d057566-9fdf-3fab-469a-d0a680f02114","name":"PutFile","comments":"","position":{"x":-1280.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"parquets","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"4fd6a555-0195-1000-e668-6d4227b47726","instanceIdentifier":"06a37b2e-ff7f-3d93-8aea-0d09b281edb6","name":"LookupRecord","comments":"","position":{"x":-80.0,"y":-936.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"10","result-record-path":"/","record-writer":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","record-reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","lookup-service":"ba783bea-7045-3c82-acdc-0f0d1d14baf1","record-update-strategy":"use-property","key":"/n_regionkey"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"4f9a4381-0195-1000-24ba-6e61cc1713cc","instanceIdentifier":"5b40acdf-de7d-3a32-e92c-d9beee2f6deb","name":"ConvertRecord","comments":"","position":{"x":-80.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","Record Reader":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"4f9a4384-0195-1000-9727-4d921d3a3465","instanceIdentifier":"58982f41-d3fb-3126-ab4f-ff73d0852753","name":"UpdateAttribute","comments":"","position":{"x":-680.0,"y":-536.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"DIM_SUPPLIER","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c6657cbf-404e-3c0f-96a6-198f70fa17e3","instanceIdentifier":"5008101f-0195-1000-99a7-1e4d16f821df","name":"","source":{"id":"de0e5609-aab8-32c7-8cd5-37c4a35dc28a","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"LookupRecord","comments":"","instanceIdentifier":"4f9be997-0195-1000-16c6-751d5eadccf4"},"destination":{"id":"4fd6a555-0195-1000-e668-6d4227b47726","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"LookupRecord","comments":"","instanceIdentifier":"06a37b2e-ff7f-3d93-8aea-0d09b281edb6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"4f9a4385-0195-1000-b4bf-1b0b1062a5c5","instanceIdentifier":"e90bd044-07c3-3a9d-2f21-6ce321e2e8e3","name":"","source":{"id":"4f9a4381-0195-1000-24ba-6e61cc1713cc","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"ConvertRecord","comments":"","instanceIdentifier":"5b40acdf-de7d-3a32-e92c-d9beee2f6deb"},"destination":{"id":"4f9a4384-0195-1000-9727-4d921d3a3465","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"UpdateAttribute","comments":"","instanceIdentifier":"58982f41-d3fb-3126-ab4f-ff73d0852753"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"4f9a4387-0195-1000-7cc4-e17244d3a2e7","instanceIdentifier":"45780d51-7efa-3035-4407-4e098dffb6ee","name":"","source":{"id":"4f9a4384-0195-1000-9727-4d921d3a3465","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"UpdateAttribute","comments":"","instanceIdentifier":"58982f41-d3fb-3126-ab4f-ff73d0852753"},"destination":{"id":"4f9a4382-0195-1000-b05c-ce4c54462dbd","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"PutFile","comments":"","instanceIdentifier":"6d057566-9fdf-3fab-469a-d0a680f02114"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"a12e94fe-b589-38f6-baac-959a0e690b64","instanceIdentifier":"50126c20-0195-1000-aa75-db56ff6c46df","name":"","source":{"id":"4fd6a555-0195-1000-e668-6d4227b47726","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"LookupRecord","comments":"","instanceIdentifier":"06a37b2e-ff7f-3d93-8aea-0d09b281edb6"},"destination":{"id":"0356a6dd-35fa-3dbb-acbe-373effd6de1c","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"RemoveRecordField","comments":"","instanceIdentifier":"5011371d-0195-1000-dbbd-8c3af97717b8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"c3622308-548e-3fb3-94ee-152ca2fcc341","instanceIdentifier":"50127e52-0195-1000-b0eb-88eb68bd71cb","name":"","source":{"id":"0356a6dd-35fa-3dbb-acbe-373effd6de1c","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"RemoveRecordField","comments":"","instanceIdentifier":"5011371d-0195-1000-dbbd-8c3af97717b8"},"destination":{"id":"4f9a4381-0195-1000-24ba-6e61cc1713cc","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"ConvertRecord","comments":"","instanceIdentifier":"5b40acdf-de7d-3a32-e92c-d9beee2f6deb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"},{"identifier":"598b16b0-0be5-3edd-8793-755ef699e76f","instanceIdentifier":"4fd828a1-0195-1000-5688-a6a2f3d9cb25","name":"","source":{"id":"4f9af101-0195-1000-1fea-1d87ffd31fa5","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"ExecuteSQL","comments":"","instanceIdentifier":"7757471c-4e29-3987-ebb3-264a71cb5fcb"},"destination":{"id":"de0e5609-aab8-32c7-8cd5-37c4a35dc28a","type":"PROCESSOR","groupId":"4f9a4380-0195-1000-b2b8-1230b4cf748b","name":"LookupRecord","comments":"","instanceIdentifier":"4f9be997-0195-1000-16c6-751d5eadccf4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f9a4380-0195-1000-b2b8-1230b4cf748b"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"508656d2-0195-1000-4ed9-cafbbcb84e52","instanceIdentifier":"ded52f2a-7f64-39b7-878c-9ca6c771b91e","position":{"x":56.0,"y":-464.0},"label":"LAB1 - OLAP\n\nMohamed Ali Riyad                   20011457\nFareeda Mohamed Ragab         19016154\nMariam Hossam Ali                   20011882\nMostafa Mohamed Galal          20011945","zIndex":0,"width":384.0,"height":168.0,"style":{"background-color":"#3d3d3d","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"508f9dd8-0195-1000-43a7-dbaa77cb0a46","instanceIdentifier":"4d2c3387-4882-326b-bce6-cc2395c3c5d2","position":{"x":56.0,"y":-176.0},"label":"Report Link: https://docs.google.com/document/d/17OO8\nk_CbBNhqJAwr02EfwzlwFGpBbGMHePMFHUfw12g\n/edit?usp=sharing\n\nNifi - Spark:\nhttps://drive.google.com/drive/folders/\n1S9BInQ8lDoaaBwMJQQ1hicFo-pEzUrpj?usp=sharing\n\n","zIndex":0,"width":384.0,"height":168.0,"style":{"background-color":"#3d3d3d","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"}],"funnels":[],"controllerServices":[{"identifier":"d3bff08c-c41e-3784-944e-62381ea5f8f4","instanceIdentifier":"4fd99ce2-0195-1000-297d-f8b01e8fea7f","name":"SupplierLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"dbrecord-lookup-dbcp-service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","dbf-default-precision":"15","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":"s_suppkey,\ns_name,\ns_address,\ns_nationkey,\ns_phone,\ns_acctbal","dbrecord-lookup-key-column":"s_suppkey","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"supplier"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"4f2e8c62-73a3-301e-aa85-ea2565ec2325","instanceIdentifier":"4fe936ea-0195-1000-02ae-0c865daa3dff","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"90f93f79-77c2-30ad-a6b1-bf80847325da","instanceIdentifier":"4fe19f2c-0195-1000-3ba5-80324316592b","name":"NationLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"dbrecord-lookup-dbcp-service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","dbf-default-precision":"15","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":"n_name,\nn_regionkey","dbrecord-lookup-key-column":"n_nationkey","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"nation"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"f64086dc-62da-3dc8-8785-ec81fd80707a","instanceIdentifier":"504db410-0195-1000-3576-be344e3cf8b1","name":"PartSuppRecordLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"dbrecord-lookup-dbcp-service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","dbf-default-precision":"10","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":"ps_availqty,\nps_supplycost","dbrecord-lookup-key-column":"ps_suppkey, ps_partkey","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"partsupp"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"eb5a2c7c-96c7-38cd-9e1d-a1baba436482","instanceIdentifier":"4fe26361-0195-1000-12c8-cc779752bc25","name":"CustomerLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"dbrecord-lookup-dbcp-service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","dbf-default-precision":"15","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":"c_name,\nc_address,\nc_nationkey,\nc_phone,\nc_acctbal,\nc_mktsegment","dbrecord-lookup-key-column":"c_custkey","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"customer"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"ba783bea-7045-3c82-acdc-0f0d1d14baf1","instanceIdentifier":"4fde4a46-0195-1000-d634-a91876a83f5b","name":"RegionLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"dbrecord-lookup-dbcp-service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","dbf-default-precision":"15","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":"r_name","dbrecord-lookup-key-column":"r_regionkey","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"region"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"},{"identifier":"e575ddef-532e-3f54-a840-4e899924ee10","instanceIdentifier":"4fe4f229-0195-1000-9435-08ac6e9e57c3","name":"OrdersLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"dbrecord-lookup-dbcp-service":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","dbf-default-precision":"15","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":"o_custkey,\no_orderstatus,\no_totalprice,\no_orderdate,\no_orderpriority,\no_clerk,\no_shippriority","dbrecord-lookup-key-column":"o_orderkey","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"orders"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d25e395b-50e7-35a7-9d65-9b780d62a70e"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"b34e17be-3f76-3f07-82ff-1131aaa4a1c1":{"identifier":"b34e17be-3f76-3f07-82ff-1131aaa4a1c1","name":"DBCPConnectionPool"},"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a":{"identifier":"e2a17ae3-be3c-38ff-8dc8-a635afbf4a1a","name":"AvroReader"},"62305503-8f9b-333a-8d3d-ad9ffc542e8f":{"identifier":"62305503-8f9b-333a-8d3d-ad9ffc542e8f","name":"ParquetRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
